* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a2d2ff;
    color: #ffafcc;
    font-weight: 700;
}

.portfolio {
    font-size: 2rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    transition-duration: 0.6s
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    text-transform: uppercase;
}

.navbar-links li:hover {
    background-color: #bde0fe;
}

.intro {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #000;
    border-bottom: 5px solid black;
    width: 50%;
    margin: 0 25%;
}

h2 {
    text-transform: uppercase;
    font-size: 1.75rem;
    text-align: left;
    margin-left: 5%;

}

#about {
    text-align: start;
    margin-left: 5%;
}

#work {
    text-align: end;
    margin-right: 5%;
}

.about {
    text-align: justify;
    border: 2px solid black;
    margin: 5%;
}

.work {
    text-align: justify;
    border: 2px solid black;
    margin: 5%;
}

.contact-box {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

form {
    margin: 35px;
}

.input-field {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 15px;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.btn {
    margin-top: 20px;
    background-color: #d0f4de;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 7px;
    cursor: pointer;
}

#social {
    text-align: end;
    margin-right: 5%;
}

.sm {
    list-style: none;
    text-align: end;
    margin-right: 5%;
}

.link {}